.painel {
    width: 1440px;
    height: 100vh;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}
.quadro {
    width: 335px;
    height: 432px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.quadro img:hover {
    box-shadow: 0 0 20px #000000;
}
.quadro img {
    position: relative;
    border-radius: 10px;
    transition: 0.5s ease-in-out;
}
.quadro .info {
    position: absolute;
    margin: 43px 26px;
    color: var(--color-text);
}
.quadro .info h2 {
    font-size: var(--font-size-title);
    font-weight: var(--font-weight-title);
    line-height: var(--line-height-title);
}
.quadro .info p {
    font-size: var(--font-size-text);
    font-weight: var(--font-weight-text);
    line-height: var(--line-height-text);
}
